---
layout: default
---
{% capture title %}
    {{ page.title }}
{% endcapture %}

{% capture date %}
    Published on {{ page.date | date: "%B %d, %Y" }}
    {% if page.asset_url %}
        <img src="{{ page.asset_url }}" alt="Featured image for {{ page.title }}" class="rounded-lg mb-4" style="width: 100%; height: 300px; object-fit: contain;">
    {% endif %}
{% endcapture %}

{% capture content %}
    <article class="prose">
        <div class="content" data-aos="fade-down" data-aos-once="true">
            {{ content }}
        </div>

        <a href="https://ti.to/rubycon/rubycon-2026/" class="block text-xl mt-16">Get your ticket for Rubycon 2026 now!</a>
    </article>
{% endcapture %}

{% include section.html
    id="post" 
    title=title 
    description=date
    content=content
%}
