---
layout: default
---
{% capture title %}
    {{ page.title }}
{% endcapture %}

{% capture date %}
    <p>Published on {{ page.date | date: "%B %d, %Y" }}</p>
    {% if page.asset_url %}
        <img src="{{ page.asset_url }}" alt="{{ page.asset_url | default: page.title }}" class="rounded-lg mb-4" style="width: 100%; height: 300px; object-fit: contain;">
    {% endif %}
{% endcapture %}

{% capture content %}
    <article class="prose">
        <div class="content" data-aos="fade-down">
            {{ content }}
        </div>
    </article>
{% endcapture %}

{% include section.html
    id="post" 
    title=title 
    description=date
    content=content
%}
