<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" href="{{ "/assets/images/logo.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
  </head>
  <body>
    <header>
      <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Rubycon logo" style="width: 100px; height: 100px;">
      <h1>{{ site.event.name }}</h1>
      <i>"Alea iacta REST"</i>
      <p>{{ site.event.date }} - {{ site.event.location }}</p>
      <nav>
        {% for item in site.navigation %}
          <a href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; 2025 {{ site.title }} - v{{ site.site_version }} | <a href="https://github.com/palladius/rubycon.it">GitHub</a></p>
    </footer>
  </body>
</html>