<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    {% seo %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "{{ site.event.name }}",
  "startDate": "{{ site.event.date | date: "%Y-%m-%d" }}",
  "endDate": "{{ site.event.date | date: "%Y-%m-%d" }}",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "location": {
    "@type": "Place",
    "name": "{{ site.event.location }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Viale Amerigo Vespucci, 46",
      "addressLocality": "Rimini",
      "postalCode": "47921",
      "addressRegion": "RN",
      "addressCountry": "IT"
    }
  },
  "image": [
    "{{ site.url }}/assets/images/logo.png"
  ],
  "description": "{{ site.description }}",
  "offers": {
    "@type": "Offer",
    "url": "{{ site.event.tickets_url }}",
    "price": "See website",
    "priceCurrency": "EUR",
    "availability": "https://schema.org/InStock",
    "validFrom": "{{ site.time | date_to_xmlschema }}"
  },
  "performer": {
    "@type": "Person",
    "name": "Rubycon Speakers"
  },
  "organizer": {
    "@type": "Organization",
    "name": "Rubycon Organizers",
    "url": "{{ site.url }}"
  }
}
</script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
    a, .cursor-pointer {
      cursor: url("{{ 'assets/images/dagger.png' | relative_url }}") 12 12, auto !important;
    }
  </style>
  </head>
  <body>
    {% include header.html %}
    
    <main id="content" role="main">
      {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({duration: 500})
    </script>
    <!-- <script type="text/javascript" src="https://embeds.iubenda.com/widgets/f9366748-cc05-49e5-a769-aabeb9bdd190.js"></script> -->
  </body>
</html>
