{% capture content %}
    <div class="grid md:grid-cols-3 gap-10">
        {% for data in site.about %}
            {% include card_about.html title=data.title icon=data.icon description=data.description %}
        {% endfor %}
    </div>

    <h3 class="text-xl max-w-3xl mx-auto text-center my-6" data-aos="fade-up">And why rubycon italy</h3>
    <div class="grid md:grid-cols-3 gap-10">
        {% for data in site.why %}
            {% include card_about.html title=data.title icon=data.icon description=data.description %}
        {% endfor %}
    </div>
{% endcapture %}

{% include section.html
    id="about" 
    title="i. &nbsp;about rubycon italy" 
    description="join us for a full day dedicated to ruby inspiring talks from italian and international speakers, sharing ideas and experiences from the ruby world."
    content=content
%}