{% capture description %}
If you don't find the answer you were looking for, for specific questions, contact our
<a href="mailto:{{ site.support_email }}" class="text-yellow-600">support team</a> or
ask in our

<a href="{{ site.social_url.discord }}" class="text-yellow-600">Discord Channel</a>.
{% endcapture %}

{% capture content %}
    <div class="rounded-lg shadow-lg overflow-hidden">
        <div class="border-b border-gray-200 text-gray-600" data-aos="fade-up">
            {% for data in site.data.faq %}
                <div class="px-6 py-4 font-bold bg-gray-100">
                    {{ data.question }}
                </div>
                <div class="bg-white px-6 py-4">
                    {{ data.answer }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endcapture %}

{% include section.html
    id="faq"
    title="VI. &nbsp;Frequently Asked Questions"
    description=description
    content=content
%}
