<header class="sticky top-0 z-50">
    <!-- navigation -->
    <nav class="shadow-lg relative">
        <div class="px-4 mx-auto">
            <div class="flex justify-between h-20 items-center">
                <div class="flex-shrink-0 flex items-center">
                    <a href="/#home" class="flex items-center">
                        <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Rubycon Italy conference logo" style="width: 70px; height: 70px; mix-blend-mode: darken;">
                        <span class="text-xl font-bold text-gray-900" style="margin-left: -10px;">
                            <span class="text-red-800">rvby</span><span class="text-blue-700">∬</span>con
                        </span>
                    </a>
                </div>
                <div class="hidden lg:block">
                    <div class="ml-10 flex items-center space-x-5">
                        {% for nav in site.data.navigation %}
                        <div class="relative group inline-block">
                            {% if nav.link %}
                                <a href="/{{ nav.link }}" class="text-gray-900 hover:text-red-800 px-1 py-2 font-medium block">
                                    {{ nav.name }}
                                </a>
                            {% else %}
                                <span class="text-gray-900 hover:text-red-800 px-1 py-2 font-medium block cursor-pointer">
                                    {{ nav.name }}
                                    {% if nav.submenu %} <i class="fas fa-chevron-down text-base"></i> {% endif %}
                                </span>
                            {% endif %}

                            {% if nav.submenu %}
                            <div class="absolute top-full left-0 bg-secondary px-1 py-2 w-40 hidden group-hover:block shadow-lg">
                                {% for subnav in nav.submenu %}
                                <a href="/{{ subnav.link }}" class="block text-gray-900 hover:text-red-800 px-2 py-3 font-medium">
                                    {{ subnav.name }}
                                </a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <!-- <a href="#register" class="bg-red-800 text-white px-6 py-2 rounded-md font-medium hover:bg-red-700 transition">register</a> -->
                    </div>
                </div>
                <div class="lg:hidden">
                    <button class="mobile-menu-button p-2 rounded-md text-gray-700 hover:text-red-800 focus:outline-none"
                            onclick="document.querySelector('.mobile-menu').classList.toggle('hidden')">
                        <i class="fas fa-bars text-2xl"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- mobile menu -->
        <div class="mobile-menu hidden shadow-lg absolute text-center overflow-y-auto" style="width: 100%">
            <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                {% for nav in site.navigation  %}
                    {% if nav.link %}
                        <a href="/{{ nav.link }}" class="block px-3 py-2 text-base font-medium text-gray-900 hover:text-red-800"
                        onclick="document.querySelector('.mobile-menu').classList.toggle('hidden')">
                            {{ nav.name }}
                        </a>
                    {% else %}
                        <span class="block px-3 py-2 text-base font-medium text-gray-900 hover:text-red-800 cursor-pointer"
                        onclick="this.nextElementSibling.classList.toggle('hidden')">
                            {{ nav.name }} <i class="fas fa-chevron-down text-base"></i>
                        </span>
                    {% endif %}

                    {% if nav.submenu %}
                        <div class="px-1 py-2 border-b border-t hidden">
                            {% for subnav in nav.submenu %}
                            <a href="/{{ subnav.link }}" class="block text-gray-900 hover:text-red-800 px-2 py-3 font-medium"
                            onclick="document.querySelector('.mobile-menu').classList.toggle('hidden')">
                                {{ subnav.name }}
                            </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                <!-- <a href="#register" class="block px-3 py-2 text-base font-medium text-white bg-red-800 rounded-md">register</a> -->
            </div>
        </div>
    </nav>
</header>