<section id="{{ include.id }}" class="py-24 border-b border-red-800/5">
    <div class="{% unless include.wide %}max-w-7xl {% endunless %}mx-auto px-4 sm:px-6 lg:px-12">
        {% if include.title %}
            <div class="mb-12" data-aos="fade-right">
                <h2 class="text-xl font-bold mb-4 opacity-80" style="font-family: 'Cinzel', serif; color: #802126;">
                    {{ include.title }}
                </h2>
                {% if include.description %}
                    <p class="text-3xl md:text-5xl font-serif max-w-4xl leading-tight text-gray-900">
                        {{ include.description }}
                    </p>
                {% endif %}
            </div>
        {% endif %}

        <div class="mt-12">
            {{ include.content }}
        </div>
    </div>
</section>
