<section class="py-16" id="sponsors">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
            <h2 class="text-3xl font-bold mb-4">our sponsors</h2>
            <div class="w-20 h-1 bg-red-600 mx-auto mb-6"></div>
            <p class="text-xl max-w-3xl mx-auto">Sponsors' list coming soon!</p>
        </div>
        
<!--        <div class="grid grid-cols-2 md:grid-cols-4 gap-8 items-center">-->
<!--            <div class="flex justify-center p-6 bg-gray-50 rounded-lg h-32">-->
<!--                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/ruby_logo.svg/1024px-ruby_logo.svg.png" alt="ruby" class="h-16 object-contain">-->
<!--            </div>-->
<!--            <div class="flex justify-center p-6 bg-gray-50 rounded-lg h-32">-->
<!--                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/ruby_on_rails_logo.svg/1200px-ruby_on_rails_logo.svg.png" alt="ruby on rails" class="h-16 object-contain">-->
<!--            </div>-->
<!--            <div class="flex justify-center p-6 bg-gray-50 rounded-lg h-32">-->
<!--                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/octicons-mark-github.svg/2048px-octicons-mark-github.svg.png" alt="github" class="h-16 object-contain">-->
<!--            </div>-->
<!--            <div class="flex justify-center p-6 bg-gray-50 rounded-lg h-32">-->
<!--                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/amazon_aws_logo.svg/1280px-amazon_aws_logo.svg.png" alt="aws" class="h-16 object-contain">-->
<!--            </div>-->
<!--        </div>-->
<!--        -->
<!--        <div class="text-center mt-12">-->
<!--            <a href="#" class="inline-flex items-center text-red-600 font-bold hover:text-red-800">-->
<!--                become a sponsor-->
<!--                <i class="fas fa-arrow-right ml-2"></i>-->
<!--            </a>-->
<!--        </div>-->
    </div>
</section>